{
	host:		'irc.freenode.com',
	port:		6667,
	nick:		'NodeBot',
	username:	'NodeBot',
	realname:	'Powered by Michael Owens',
	channels:	['#nodejs'],
	command:	'.',
	debug:		false,

	plugins:	['global', 'reload', 'gezien', 'textfilter']
}